/* isso aqui é uma fonte importada */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

/*
aqui a gente importou uma fonte que tá na nossa máquina
@font-face{
    font-family: 'aqui voce dá um nome pra fonte' ;
    src: url('Nome do arquivo.otf') format('opentype');
    font-weight:200 ;
    font-style:italic ;

    tipos de format:
    - opentype = otf;
    - truetype = ttf;
    - embed-opentype 
    - truetype-att = apple advanced typography
    - svg
} */

/*pra gente fazer degrade a gente usa o backgrond-image, e nos parenteses primeiro indicamos a direção do degrade, depois disso a gente indica as cores q queremos no degrade, q serão dipostas na direção indicada, no caso abaixo a gente indicou a direção em graus mas da pra indicar desses jeitos tbm: to up; to bottom; to top... também podemos indicar em porcentagem, o quanto queremos que cada cor ocupe o gradient*/
.degrade_linear{
    background-image: linear-gradient(90deg, #FA7E7A, #FAAA7A, #FA947A );

}

/* mesma ideia do linear, primeiro a gente indica a "forma"/direção depois as cores,  */
.degrade_radial{
    background-image: radial-gradient(circle, #1FC4F2, #1F82F2, #1FC4F2);
    height: 200px;
}

/* isso aqui é como se faz a conf global do css, geral vai obedecer ela a n ser que eu mexa nas classes e etc, ela n tem tanta prioridade, e sim, se indica conf global com o "*" */
*{
    font-size: 20px;
    
}
body{
    background-image: linear-gradient(360deg, #9FC131, #DBF227);

}
h1{
    color: #042940;
    text-align: center;
    text-shadow: 1px 0px 2px #042940c5;/* esse text shadow funcoina igual o box shadow, lado, baixo, espalhar, transparencia */

    /* pra deixar a fonte generica é só falar somente o tipo dela, que o navegador vai escolher auto a melhor fonte de acordo com o dispositivo 
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;*/
    font: italic bold 2em Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    color: #005C53;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* esse text-decoration é só pra sublinhar basicamente */
    text-decoration: underline;
}

.Main{
    background-color: rgba(228, 228, 228, 0.877);
    width: 650px;
    text-align: justify;
    padding: 5px;
    margin: auto;
    border-radius: 20px;/*esse border radius serve pra arredondar as bordas  */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    box-shadow: 5px 5px 5px #042940c5; /* esse box shadow serve pra por uma sombra no fundo elemento, pra ficar parecendo 3D, os parametros aqui são na seguinte ordem: o quanto vai pro lado, o quanto vai pra baixo, o qaunto vai espalhar, transparencia  */
}
.pesoz{
    font-weight: 600;
}
.google_fonts{
    font-family: "Bungee tint", sans-serif;
}
